/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BP Min
use as: @media only screen and(min-width: @var) */
/* BP Max
use as: @media only screen and(max-width: @var) */
/* line 43, ../scss/styles.scss */
body, html {
  height: 100%;
  width: 100%;
}

/* line 48, ../scss/styles.scss */
body {
  overflow: hidden;
}
@media only screen and (max-width: 959px) {
  /* line 48, ../scss/styles.scss */
  body {
    overflow: auto;
  }
}

/* line 56, ../scss/styles.scss */
.filters {
  width: 480px;
  float: left;
  height: 100vh;
}
@media only screen and (max-width: 959px) {
  /* line 56, ../scss/styles.scss */
  .filters {
    width: 100%;
    float: none;
    height: auto;
  }
}
@media only screen and (min-width: 960px) {
  /* line 67, ../scss/styles.scss */
  .filters .mobile-tabs {
    display: none !important;
  }
}
@media only screen and (max-width: 959px) {
  /* line 67, ../scss/styles.scss */
  .filters .mobile-tabs {
    width: 100%;
    display: flex;
  }
  /* line 74, ../scss/styles.scss */
  .filters .mobile-tabs .tablinks {
    width: 50%;
    height: 40px;
    border: none;
    color: #aeaeae;
    background-color: #636363;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.8px;
  }
  /* line 83, ../scss/styles.scss */
  .filters .mobile-tabs .tablinks.active {
    background-color: #f5f5f5;
    color: #323232;
  }
  /* line 88, ../scss/styles.scss */
  .filters .mobile-tabs .tablinks:focus {
    outline: none;
  }
}
/* line 95, ../scss/styles.scss */
.filters .tabcontent.search-result-box {
  display: none;
}
/* line 98, ../scss/styles.scss */
.filters .tabcontent.tab-map {
  display: block;
}
/* line 103, ../scss/styles.scss */
.filters .search-params-box {
  display: flex;
  flex-direction: column;
  padding: 10px 30px 0 59px;
  background-color: #f5f5f5;
}
@media only screen and (max-width: 959px) {
  /* line 103, ../scss/styles.scss */
  .filters .search-params-box {
    padding: 0;
    background-color: #fff;
  }
}
/* line 113, ../scss/styles.scss */
.filters .search-params-box input, .filters .search-params-box select {
  height: 42px;
  padding: 0;
  text-indent: 20px;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
/* line 27, ../scss/styles.scss */
.filters .search-params-box input::-webkit-input-placeholder, .filters .search-params-box select::-webkit-input-placeholder {
  color: #000;
}
/* line 28, ../scss/styles.scss */
.filters .search-params-box input:-moz-placeholder, .filters .search-params-box select:-moz-placeholder {
  color: #000;
}
/* line 29, ../scss/styles.scss */
.filters .search-params-box input::-moz-placeholder, .filters .search-params-box select::-moz-placeholder {
  color: #000;
}
/* line 30, ../scss/styles.scss */
.filters .search-params-box input:-ms-input-placeholder, .filters .search-params-box select:-ms-input-placeholder {
  color: #000;
}
/* line 125, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper, .filters .search-params-box select {
  margin: 10px 0;
  border: 1px solid #717171;
}
@media only screen and (max-width: 959px) {
  /* line 125, ../scss/styles.scss */
  .filters .search-params-box .input-btns-wrapper, .filters .search-params-box select {
    margin: 0;
    border: none;
    border-bottom: 1px solid #717171;
  }
}
/* line 135, ../scss/styles.scss */
.filters .search-params-box .select-wrapp select {
  width: 100%;
  margin-left: 1px;
  cursor: pointer;
  background: url(../icons/icon-arrow-down.png) no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position-x: calc( 100% - 14px );
  background-size: 15px;
}
@media only screen and (max-width: 959px) {
  /* line 135, ../scss/styles.scss */
  .filters .search-params-box .select-wrapp select {
    margin: 0;
  }
}
/* line 147, ../scss/styles.scss */
.filters .search-params-box .select-wrapp select::-ms-expand {
  display: none;
}
/* line 150, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper {
  display: flex;
  flex-direction: row;
}
/* line 156, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=text] {
  flex-grow: 2;
  border: none;
}
/* line 159, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=text]:focus {
  outline: none;
}
/* line 163, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=button] {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #717171;
  border-right: none;
  background: transparent;
  cursor: pointer;
}
/* line 171, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=button]#searchButton {
  background-image: url(../icons/Search_Def_ADA.png);
  background-position: 8px 9px;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 40px;
}
/* line 178, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=button]#navigatorButton {
  background-image: url(../icons/ETRO_Geoloc.png);
  background-position: 11px 13px;
  background-repeat: no-repeat;
  background-size: 17px;
  width: 40px;
}
/* line 188, ../scss/styles.scss */
.filters .params-box-bottom-part {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px 59px;
  background-color: #f5f5f5;
}
@media only screen and (max-width: 479px) {
  /* line 188, ../scss/styles.scss */
  .filters .params-box-bottom-part {
    padding: 10px 30px 20px 30px;
  }
}
/* line 198, ../scss/styles.scss */
.filters .params-box-bottom-part .boutique-count-wrapper {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: normal;
}
/* line 200, ../scss/styles.scss */
.filters .params-box-bottom-part .boutique-count-wrapper .label {
  font-size: 18px;
  text-transform: uppercase;
}
/* line 205, ../scss/styles.scss */
.filters .params-box-bottom-part .filters-link {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #000;
  font-weight: normal;
  line-height: 2.08;
  letter-spacing: normal;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 210, ../scss/styles.scss */
.filters .params-box-bottom-part .filters-link .plus-icn {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 19px;
  color: #777573;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  top: -4px;
  left: -17px;
}
/* line 216, ../scss/styles.scss */
.filters .params-box-bottom-part .filters-link .label {
  text-decoration: underline;
}
/* line 221, ../scss/styles.scss */
.filters .search-result-box {
  position: relative;
  overflow-y: auto;
  height: 100%;
  max-height: calc(100% - 277px);
}
@media only screen and (max-width: 959px) {
  /* line 221, ../scss/styles.scss */
  .filters .search-result-box {
    overflow: auto;
    max-height: calc(100vh - 240px);
  }
}
@media only screen and (min-width: 960px) {
  /* line 221, ../scss/styles.scss */
  .filters .search-result-box {
    display: inherit !important;
  }
}
/* line 233, ../scss/styles.scss */
.filters .search-result-box.overlay {
  overflow: hidden;
  height: 9999px;
}
/* line 236, ../scss/styles.scss */
.filters .search-result-box.overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 9999px;
  max-height: unset;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
/* line 249, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li {
  position: relative;
  height: 69px;
  border-bottom: 1px solid #dddddd;
  padding-top: 17px;
  padding-bottom: 13px;
}
/* line 255, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li:after {
  content: '';
  background: #dddddd;
  width: 100%;
  height: 1px;
}
/* line 262, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li.active {
  background-color: #eee;
}
/* line 264, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li.active.etro-boutique {
  background: url(../icons/etro-boutique-icon.png) no-repeat right;
  background-size: 25px;
  background-position-x: 27px;
  background-position-y: 21px;
}
@media only screen and (max-width: 479px) {
  /* line 264, ../scss/styles.scss */
  .filters .search-result-box ul#boutique-list > li.active.etro-boutique {
    background: none;
  }
}
/* line 274, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li.active.etro-outlet {
  background: url(../icons/etro-outlet-icon.png) no-repeat right;
  background-size: 25px;
  background-position-x: 27px;
  background-position-y: 21px;
}
@media only screen and (max-width: 479px) {
  /* line 274, ../scss/styles.scss */
  .filters .search-result-box ul#boutique-list > li.active.etro-outlet {
    background: none;
  }
}
@media only screen and (max-width: 959px) {
  /* line 285, ../scss/styles.scss */
  .filters .search-result-box ul#boutique-list > li.active a div {
    padding: 0 34px 0 49px;
  }
}
/* line 293, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #000;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-decoration: none;
}
/* line 296, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li a:after {
  content: '';
  position: absolute;
  top: 41px;
  display: block;
  right: 25px;
  transform: rotate(-90deg);
  background: url(../icons/icon-arrow-down.png) no-repeat right;
  -webkit-appearance: none;
  background-size: 15px;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 959px) {
  /* line 296, ../scss/styles.scss */
  .filters .search-result-box ul#boutique-list > li a:after {
    right: 20px;
  }
}
/* line 312, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li a div {
  padding: 0 50px 0 59px;
}
@media only screen and (max-width: 479px) {
  /* line 312, ../scss/styles.scss */
  .filters .search-result-box ul#boutique-list > li a div {
    padding: 0 50px 0 30px;
  }
}
/* line 318, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li a div.name {
  text-transform: uppercase;
  padding-bottom: 20px;
}
/* line 322, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li a div.address {
  font-size: 13px;
}
/* line 332, ../scss/styles.scss */
.filters .filter-by-type.popup-wrapper {
  position: relative;
  top: 0;
  right: 0;
  z-index: 9;
}
/* line 340, ../scss/styles.scss */
.filters .filter-by-type .filter-by-type-popup {
  display: none;
  position: relative;
}
/* line 344, ../scss/styles.scss */
.filters .filter-by-type .filter-by-type-popup.active {
  display: block;
  position: absolute;
  right: 0;
  width: 250px;
  height: 117px;
  border: solid 1px #dddddd;
  background-color: #f5f5f5;
  padding: 18px 27px;
  margin: 0 0 0 auto;
  z-index: 100;
}
@media only screen and (max-width: 479px) {
  /* line 344, ../scss/styles.scss */
  .filters .filter-by-type .filter-by-type-popup.active {
    width: auto;
    left: 0;
    height: auto;
    padding-bottom: 44px;
  }
}
/* line 364, ../scss/styles.scss */
.filters .filter-by-type .filter-by-type-popup ul li {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #000;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  padding-bottom: 20px;
}
/* line 368, ../scss/styles.scss */
.filters .filter-by-type .filter-by-type-popup ul li label {
  cursor: pointer;
}
/* line 370, ../scss/styles.scss */
.filters .filter-by-type .filter-by-type-popup ul li label input[type=checkbox] {
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid #aaa;
  overflow: hidden;
  margin-top: 0px;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: 0;
  background: transparent;
  cursor: pointer;
}
/* line 383, ../scss/styles.scss */
.filters .filter-by-type .filter-by-type-popup ul li label input[type=checkbox]:checked:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../icons/check-mark-3-24.png);
  background-repeat: no-repeat;
  background-position: 0 -3px;
  background-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 12px;
  color: #f75e24;
  margin-right: 8px;
}
/* line 405, ../scss/styles.scss */
.filters .filter-by-type .filter-by-type-popup button.close {
  position: absolute;
  top: 15px;
  right: 27px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #000;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  background-image: url(../icons/close-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
/* line 420, ../scss/styles.scss */
.filters .filter-by-type .filter-by-type-popup button.apply {
  width: 250px;
  height: 44px;
  background-color: #323232;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.8;
}
@media only screen and (max-width: 479px) {
  /* line 420, ../scss/styles.scss */
  .filters .filter-by-type .filter-by-type-popup button.apply {
    width: calc( 100% + 2px );
    position: absolute;
    left: -1px;
    right: -1px;
    display: block;
    bottom: -1px;
  }
}

/* line 443, ../scss/styles.scss */
.ui-autocomplete {
  background-color: #f5f5f5;
  padding: 0 0 0 10px;
  max-width: 300px;
}
@media only screen and (max-width: 959px) {
  /* line 443, ../scss/styles.scss */
  .ui-autocomplete {
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
/* line 455, ../scss/styles.scss */
.ui-autocomplete .ui-menu-item {
  cursor: pointer;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
}
@media only screen and (max-width: 959px) {
  /* line 455, ../scss/styles.scss */
  .ui-autocomplete .ui-menu-item {
    text-align: center;
  }
}
/* line 463, ../scss/styles.scss */
.ui-autocomplete .ui-menu-item:hover {
  background-color: #eee;
  font-weight: 600;
}

/* line 470, ../scss/styles.scss */
#map {
  width: calc( 100% - 480px );
  margin: 0 0 0 480px;
  height: 100vh;
}
@media only screen and (max-width: 959px) {
  /* line 470, ../scss/styles.scss */
  #map {
    width: 100%;
    margin: 0;
    height: 80vh;
    min-height: 320px;
  }
  /* line 482, ../scss/styles.scss */
  #map.overlay {
    overflow: hidden;
  }
  /* line 484, ../scss/styles.scss */
  #map.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 9999px;
    max-height: unset;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
}
@media only screen and (min-width: 960px) {
  /* line 470, ../scss/styles.scss */
  #map {
    display: block !important;
  }
}

/* line 502, ../scss/styles.scss */
#popup-content {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #000;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: normal;
  position: absolute;
  max-width: 50vw;
  width: 652px;
  bottom: 40px;
  left: calc( 50% + 240px);
  transform: translateX(-50%);
  display: none;
  z-index: 1;
}
/* line 513, ../scss/styles.scss */
#popup-content.active {
  display: block;
}
@media only screen and (max-width: 959px) {
  /* line 502, ../scss/styles.scss */
  #popup-content {
    transform: none;
    width: 100%;
    max-width: 100%;
    position: static;
  }
  /* line 525, ../scss/styles.scss */
  #popup-content.active + .filters {
    display: none;
  }
}
/* line 531, ../scss/styles.scss */
#popup-content .back {
  display: none;
  position: relative;
  height: 40px;
  background: #fff;
  line-height: 40px;
  padding: 0 35px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid #7f7f7f;
}
/* line 545, ../scss/styles.scss */
#popup-content .back:before {
  content: '';
  position: absolute;
  top: 13px;
  display: block;
  left: 15px;
  transform: rotate(90deg);
  background: url(../icons/icon-arrow-down.png) no-repeat right;
  -webkit-appearance: none;
  background-size: 15px;
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 959px) {
  /* line 531, ../scss/styles.scss */
  #popup-content .back {
    display: block;
  }
}
/* line 563, ../scss/styles.scss */
#popup-content .block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0;
  background-color: #f5f5f5;
}
@media only screen and (max-width: 959px) {
  /* line 563, ../scss/styles.scss */
  #popup-content .block-title {
    align-items: start;
    padding: 18px 70px 0 20px;
  }
}
/* line 575, ../scss/styles.scss */
#popup-content .block-title .name {
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 15px;
}
/* line 581, ../scss/styles.scss */
#popup-content .block-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 18px 0;
  background-color: #fff;
  position: relative;
}
@media only screen and (max-width: 959px) {
  /* line 581, ../scss/styles.scss */
  #popup-content .block-content {
    background-color: #f5f5f5;
    padding: 0 0 18px;
  }
}
/* line 596, ../scss/styles.scss */
#popup-content .block-content ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 959px) {
  /* line 596, ../scss/styles.scss */
  #popup-content .block-content ul {
    display: block;
  }
}
/* line 606, ../scss/styles.scss */
#popup-content .block-content ul li {
  /*				&.opening-time {
  					position: relative;
  				}*/
}
/* line 610, ../scss/styles.scss */
#popup-content .block-content ul li .title {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 13px;
}
@media only screen and (max-width: 959px) {
  /* line 606, ../scss/styles.scss */
  #popup-content .block-content ul li {
    padding: 15px 20px 10px;
  }
  /* line 618, ../scss/styles.scss */
  #popup-content .block-content ul li.contacts {
    padding: 0 20px 10px;
  }
  /* line 620, ../scss/styles.scss */
  #popup-content .block-content ul li.contacts .title {
    display: none;
  }
  /* line 625, ../scss/styles.scss */
  #popup-content .block-content ul li + li {
    border-top: 1px solid #dddddd;
  }
}
/* line 632, ../scss/styles.scss */
#popup-content .build-route {
  position: absolute;
  bottom: -18px;
  display: block;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: url(../icons/ETRO_Arrow.png) no-repeat right;
  background-size: 37px;
  width: 37px;
  height: 37px;
  font-size: 0;
  border-radius: 20px;
}
@media only screen and (max-width: 959px) {
  /* line 632, ../scss/styles.scss */
  #popup-content .build-route {
    margin: 0;
    top: 65px;
    right: 20px;
    left: auto;
  }
}

/* line 655, ../scss/styles.scss */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  visibility: hidden;
}
/* line 666, ../scss/styles.scss */
.controls.visible {
  visibility: visible;
}
@media only screen and (max-width: 959px) {
  /* line 655, ../scss/styles.scss */
  .controls {
    display: block;
  }
}

/* line 675, ../scss/styles.scss */
#origin-input,
#destination-input {
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
  background-color: #f5f5f5;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
}
/* line 27, ../scss/styles.scss */
#origin-input::-webkit-input-placeholder,
#destination-input::-webkit-input-placeholder {
  color: #000;
}
/* line 28, ../scss/styles.scss */
#origin-input:-moz-placeholder,
#destination-input:-moz-placeholder {
  color: #000;
}
/* line 29, ../scss/styles.scss */
#origin-input::-moz-placeholder,
#destination-input::-moz-placeholder {
  color: #000;
}
/* line 30, ../scss/styles.scss */
#origin-input:-ms-input-placeholder,
#destination-input:-ms-input-placeholder {
  color: #000;
}

@media only screen and (max-width: 1439px) {
  /* line 689, ../scss/styles.scss */
  #origin-input {
    left: 0 !important;
    top: 50px !important;
  }
}

@media only screen and (max-width: 1439px) {
  /* line 696, ../scss/styles.scss */
  #destination-input {
    left: 0 !important;
    top: 95px !important;
  }
}

/* line 703, ../scss/styles.scss */
#origin-input:focus,
#destination-input:focus {
  border-color: #000;
}

/* line 708, ../scss/styles.scss */
#mode-selector {
  color: #000;
  background-color: #f5f5f5;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}
@media only screen and (max-width: 1439px) {
  /* line 708, ../scss/styles.scss */
  #mode-selector {
    left: 0 !important;
    top: 140px !important;
  }
}

/* line 720, ../scss/styles.scss */
#mode-selector label {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
}

/*# sourceMappingURL=styles.css.map */
