/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 26, ../scss/styles.scss */
.filters {
  width: 480px;
  float: left;
  height: 100vh;
}
/* line 30, ../scss/styles.scss */
.filters .search-params-box {
  display: flex;
  flex-direction: column;
  padding: 10px 30px 20px 59px;
  background-color: #f5f5f5;
  max-height: 315px;
}
/* line 36, ../scss/styles.scss */
.filters .search-params-box input, .filters .search-params-box select {
  height: 42px;
  padding: 0;
  text-indent: 20px;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: transparent;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
/* line 10, ../scss/styles.scss */
.filters .search-params-box input::-webkit-input-placeholder, .filters .search-params-box select::-webkit-input-placeholder {
  color: #000;
}
/* line 11, ../scss/styles.scss */
.filters .search-params-box input:-moz-placeholder, .filters .search-params-box select:-moz-placeholder {
  color: #000;
}
/* line 12, ../scss/styles.scss */
.filters .search-params-box input::-moz-placeholder, .filters .search-params-box select::-moz-placeholder {
  color: #000;
}
/* line 13, ../scss/styles.scss */
.filters .search-params-box input:-ms-input-placeholder, .filters .search-params-box select:-ms-input-placeholder {
  color: #000;
}
/* line 48, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper, .filters .search-params-box select {
  margin: 10px 0;
  border: 1px solid #717171;
}
/* line 53, ../scss/styles.scss */
.filters .search-params-box .select-wrapp select {
  width: 100%;
  cursor: pointer;
  background: url(../icons/icon-arrow-down.png) no-repeat right;
  -webkit-appearance: none;
  background-position-x: 360px;
  background-size: 15px;
}
/* line 62, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper {
  display: flex;
  flex-direction: row;
}
/* line 65, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=text] {
  flex-grow: 2;
  border: none;
}
/* line 68, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=text]:focus {
  outline: none;
}
/* line 72, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=button] {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #717171;
  border-right: none;
  background: transparent;
  cursor: pointer;
}
/* line 80, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=button]#searchButton {
  background-image: url(../icons/search-icon.svg);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  background-size: 25px;
  width: 40px;
}
/* line 87, ../scss/styles.scss */
.filters .search-params-box .input-btns-wrapper input[type=button]#navigatorButton {
  background-image: url(../icons/nav-arrrow.png);
  background-position: 8px 11px;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 40px;
}
/* line 96, ../scss/styles.scss */
.filters .search-params-box .params-box-bottom-part {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
/* line 100, ../scss/styles.scss */
.filters .search-params-box .params-box-bottom-part .boutique-count-wrapper {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: normal;
}
/* line 102, ../scss/styles.scss */
.filters .search-params-box .params-box-bottom-part .boutique-count-wrapper .label {
  font-size: 18px;
  text-transform: uppercase;
}
/* line 107, ../scss/styles.scss */
.filters .search-params-box .params-box-bottom-part .filters-link {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #000;
  font-weight: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-transform: uppercase;
  /*				&:before {
  					content: '+';
  					@include font-open-sans($color:#777573,$size:19px);
  					margin-right: 5px;
  					display: inline-block;
  				}*/
}
/* line 116, ../scss/styles.scss */
.filters .search-params-box .params-box-bottom-part .filters-link .plus-icn {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 19px;
  color: #777573;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 5px;
}
/* line 123, ../scss/styles.scss */
.filters .search-result-box {
  padding: 20px 30px 20px 59px;
  overflow-y: scroll;
  max-height: calc(100% - 315px);
}
/* line 128, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li {
  height: 100px;
}
/* line 130, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li:after {
  content: '';
  background: #dddddd;
  width: 100%;
  height: 1px;
}
/* line 137, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li.active {
  background-color: #eee;
}
/* line 147, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #000;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-decoration: none;
}
/* line 150, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li a .name {
  text-transform: uppercase;
}
/* line 153, ../scss/styles.scss */
.filters .search-result-box ul#boutique-list > li a .address {
  font-size: 13px;
}
/* line 161, ../scss/styles.scss */
.filters .filter-by-type-popup {
  display: none;
}
/* line 164, ../scss/styles.scss */
.filters .filter-by-type-popup.active {
  display: block;
}

/* line 171, ../scss/styles.scss */
.ui-autocomplete {
  background-color: #f5f5f5;
  max-width: 400px;
}
/* line 175, ../scss/styles.scss */
.ui-autocomplete .ui-menu-item {
  cursor: pointer;
}
/* line 178, ../scss/styles.scss */
.ui-autocomplete .ui-menu-item:hover {
  background-color: #eee;
  font-weight: 600;
}

/* line 185, ../scss/styles.scss */
#map {
  width: calc( 100% - 480px );
  margin: 0 0 0 480px;
  height: 100vh;
}

/* line 191, ../scss/styles.scss */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  visibility: hidden;
}
/* line 202, ../scss/styles.scss */
.controls.visible {
  visibility: visible;
}

/* line 207, ../scss/styles.scss */
#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

/* line 219, ../scss/styles.scss */
#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

/* line 224, ../scss/styles.scss */
#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

/* line 231, ../scss/styles.scss */
#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/*# sourceMappingURL=styles.css.map */
