/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.root{
	max-width: 1635px;
	margin: 0 auto;
}

.filters{
	width: 480px;
	float: left;
	height: 100vh;
}

#map{
	width: calc( 100% - 480px );
	margin: 0 0 0 480px;
	height: 100vh;
}
